.footer{height: 500px;}
.img-fluidlogo{width: 100px; height: auto;}
main{ background-color: $negro;}
p{ color: $blanco;}
.img-fluidimg{width: 250px; height: auto;}
.personajes{ background-color: white; border-radius: 20px; padding: 10px;}
.armas{ background-color: white; border-radius: 20px; padding: 10px;}
label{ color: $blanco;}
h1{ color: $blanco;}
h4{ color: $blanco;}
h3{ color: $blanco;}
body{background-color: $negro;}
.img-fluidop{width: 400px; height: auto;}
h4{display: flex; justify-content: center;}
.personajes{margin: 10px;}
h1{display: flex; justify-content: center;}
.bs-black{ color: $negro}